RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST=air-quality.p.rapidapi.com
API_URL=https://air-quality.p.rapidapi.com/history/airquality
LATITUDE=45.464
LONGITUDE=9.188
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=air_quality
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_password
AIRFLOW_UID=50000
